<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
  <body class="container pt-3">
=======
  <body>
>>>>>>> redCarpet
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
